li a {
    background-color: azure;
    color: black; font-weight: bold;
}

body {
    background: white url("images/background.png") no-repeat;
}

footer {
    background-color: #343a40;
    color: white; padding: 10px;
    position: fixed; bottom: 0;
    width :97.5%; font-weight:bold;
    text-align: center;
}